In [7]:
import pandas as pd
names = ['a', 'b', 'c', 'd', 'message']
df = pd.read_csv("ex1.csv", names=names, index_col='message')

In [14]:
df
# print(df['hello'])

           a   b    c   d
message
 message   a   b    c   d
 hello     1   2    3   4
 world     4   6    3   9
 haha     14   8   94   0